html {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,p,span {
  color: white;
}

/* Custom toggle styles */
input[type="checkbox"]:checked + div.toggle {
  background-color: #F9A060;
}

input[type="checkbox"]:checked + div.toggle .dot {
  transform: translateX(100%);
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
