:root {
  --data-image: '';
}

html {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,p,span {
  color: white;
}

/* Custom toggle styles */
input[type="checkbox"]:checked + div.toggle {
  background-color: #F9A060;
}

input[type="checkbox"]:checked + div.toggle .dot {
  transform: translateX(100%);
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.image-container {
  position: relative;
  width: 100px; 
  height: 100px;
  overflow: hidden;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--data-image);
  background-size: cover;
  filter: blur(2px);
  z-index: 1;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}

.current-member {
  animation: rainbow-shadow 5s infinite linear;
}

@keyframes rainbow-shadow {
  0% {
    box-shadow: 0 0 10px 7px #3fdcf7;
  }
  14% {
    box-shadow: 0 0 10px 7px #1890ff;
  }
  28% {
    box-shadow: 0 0 10px 7px #6813cb;
  }
  42% {
    box-shadow: 0 0 10px 7px #ff003d;
  }
  57% {
    box-shadow: 0 0 10px 7px #ff8a00;
  }
  71% {
    box-shadow: 0 0 10px 7px #ffd600;
  }
  85% {
    box-shadow: 0 0 10px 7px #67be23;
  }
  100% {
    box-shadow: 0 0 10px 7px #3fdcf7;
  }
}


.scrollable {
  overflow: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 

  /* สำหรับ WebKit-based browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    display: none;
  }
}
.disabled-btn {
  opacity: 0.5;
  pointer-events: none; /* Prevent clicks when disabled */
}

#topicsName {
  line-height: 3.5rem !important;
}