---
import { Members } from "../config";
import Card from "./Card.astro";

let memberList: Record<string, string | boolean>[] = [];
for (const mem in Members) {
  memberList.push({ mem, ...Members[mem] });
}
;
---

<div class="flex flex-col gap-4">
  <Card>
    <div class="flex flex-col">
      <div class="flex justify-between">
        <h2 class="text-2xl p-2">Today Topic</h2>
        <div class="hover:cursor-pointer" id="btnRandom">
          <img
            src="/random-english-day/icons/random.svg"
            width="30px"
            height="30px"
          />
        </div>
      </div>
      <div class="flex justify-center p-4 mt-6 mb-4">
        <p id="topicsName" class="text-2xl md:text-3xl lg:text-4xl text-center">Just click random</p>
      </div>
    </div>
  </Card>
  <Card>
    <div
      class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-2 min-h-[90px]"
    >
    <div class="flex items-center justify-center space-x-4 text-2xl md:text-3xl lg:text-4xl col-span-full my-auto">
      <div class="flex items-center space-x-2">
      <img
        class="hover:cursor-pointer"
        id="btnReset"
        src="/random-english-day/images/icon/reset.png"
        width="40px"
        height="40px"
      />
      
      <img
      class="hover:cursor-pointer"
      id="btnStart"
      src="/random-english-day/images/icon/start.png"
      width="50px"
      height="50px"
    />
    <div class="flex items-center justify-center space-x-4 text-2xl md:text-3xl lg:text-4xl col-span-full my-auto">
      <img
        class="hover:cursor-pointer"
        id="btnStop"
        src="/random-english-day/images/icon/stop.png"
        width="50px"
        height="50px"
      />
    </div>
    <p id="timer" class="text-2xl md:text-3xl lg:text-4xl col-span-full mt-2">
      00:00</p>
      </div>
      
    </div>
   
     
      
    </div>
  </Card>
  <Card>
    <div class="flex justify-between items-center">
      <div class="flex justify-start">
        <img
          class="hover:cursor-pointer"
          id="btnBack"
          src="/random-english-day/images/icon/back.png"
          width="30px"
          height="30px"
        />
      </div>
  
      <div
      id="tempRandomMember"
      class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-16 min-h-[400px] "
    >
      <p class="text-2xl md:text-3xl lg:text-4xl  col-span-full text-center my-auto">Just click random</p>
    </div>
      <div class="flex justify-end">
        <img
          class="hover:cursor-pointer"
          id="btnNext"
          src="/random-english-day/images/icon/next.png"
          width="30px"
          height="30px"
        />
      </div>
    </div>
  </Card>
  
  
  
</div>
