---
import { SiteTitle } from "../config";
import Card from "./Card.astro";
---

<header>
  <Card>
    <div class="flex flex-row justify-between">
      <div>
      <span class="text-3xl">
        {SiteTitle}
      </span>
      <span id="time" class="text-3xl"></span>
    </div>
      <div class="hover:cursor-pointer" id="btnMode" data-mode="light">
        <img
          id="icMode"
          src="/random-english-day/icons/dark_mode.svg"
          width="30px"
          height="30px"
        />
      </div>
    </div>
  </Card>
</header>

<script>
  function updateDateTime() {
    const now = new Date();

    const hours = String(now.getHours()).padStart(2, '0');
    const minutes = String(now.getMinutes()).padStart(2, '0');
    const seconds = String(now.getSeconds()).padStart(2, '0');
    const formattedDateTime = ` : ${hours}:${minutes}:${seconds}`;

    const timeElement = document.getElementById("time");
    timeElement.innerHTML = formattedDateTime;

  }
  setInterval(updateDateTime, 1000);
  updateDateTime();
</script>
