---
import { SiteTitle } from "../config";
import Card from "./Card.astro";
---

<header>
  <Card>
    <div class="flex flex-row justify-between">
      <h1 class="text-2xl">
        {SiteTitle}
      </h1>
      <div class="hover:cursor-pointer" id="btnMode" data-mode="light">
        <img
          id="icMode"
          src="/random-english-day/icons/dark_mode.svg"
          width="30px"
          height="30px"
        />
      </div>
    </div>
  </Card>
</header>

<script></script>
