---
import { SiteTitle } from "../config";
---

<header
  class="grid grid-cols-2 items-start justify-between lg:flex px-[2dvw] pt-[2dvh]"
>
  <h1>
    <button
      type="button"
      class="text-neutral-700 opacity-75 aria-pressed:opacity-100 hover:opacity-100 dark:text-neutral-50"
    >
      <a href="/">{SiteTitle}</a>
    </button>
  </h1>
</header>

<script></script>
