---
import Header from "../components/Header.astro";

const { pageTitle } = Astro.props;
---

<html>
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <link rel="canonical" href={Astro.url.href} />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="icon" href="/random-english-day/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <!-- Primary Meta Tags -->
    <title>{pageTitle}</title>
    <style is:global>
      @tailwind base;
      @layer base {
        *:hover,
        *:focus,
        *:active {
          @apply motion-safe:transition;
        }

        :root {
          @apply scroll-smooth antialiased;

          --pagefind-ui-scale: 1;
          --pagefind-ui-primary: theme("colors.neutral.800");
          --pagefind-ui-text: theme("colors.neutral.600");
          --pagefind-ui-background: theme("colors.neutral.50");
          --pagefind-ui-border: theme("colors.zinc.300");
          --pagefind-ui-tag: theme("colors.zinc.300");
          --pagefind-ui-font: inherit;
        }
      }
      @tailwind components;
      @tailwind utilities;
    </style>
  </head>
  <body
    class:list={[
      "h-full",
      "bg-[url('/random-english-day/images/background/light.jpg')]",
      "bg-center bg-cover",
    ]}
  >
    <div class:list={["container", "mx-auto", "py-4", "px-2", "md:px-0"]}>
      <div class:list={["flex", "flex-col", "gap-4"]}>
        <Header currentNav="Home" />
        <main>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
